.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.crates

target/*
!target/deploy
target/deploy/*

!target/deploy/editions-keypair.json
!target/deploy/platform-signer-keypair.json
!target/deploy/platform-treasury-keypair.json
!target/deploy/program_authority-keypair.json
!target/idl